.background_pane {
    -fx-background-color: #2D2A32;
}

.textfields {
    -fx-background-color: #2b2a36;
    -fx-text-inner-color: #b59464;
}

.gridLabel {
    -fx-text-fill: #e3a956;
}

.radio-button .radio {
    -fx-background-color: #cd8d5c;
}

.radio-button:selected .radio {
    -fx-background-color: #DDCA7D;
}

.textarea {
    -fx-background-color: #4F4A58;
    -fx-text-fill: #eae151;
}

.textarea .content {
    -fx-background-color: #4F4A58;
    -fx-background-radius: 0;
}

.textareaPath {
    -fx-background-color: #2D2A32;
    -fx-text-fill: #eae151;
}

.textareaPath .content {
    -fx-background-color: #2D2A32;
    -fx-background-radius: 0;
}
